.bookContainer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    min-height: 500px;
    line-height: 25px;
    width: 30%;
    padding: 3px;
    margin: auto;
    margin-bottom: 20px;      
    
}
.card-img{
    width: 70%;
    height: 200px;
    /* object-fit:cover */
}
.bookContainer:hover{
    border: 3px solid black;
    font-size: larger;
}