.maincont{
    border: 3px solid transparent;
    width: 100%;
    height: 80px;
    margin-top: 5px;
    display: flex;
    background-color: antiquewhite;
}
.left{
    border: 1px solid transparent;
    width: 170px;
    height: 100%;
    margin-left: 5px;
    align-items: baseline;
    margin-top: 13px;
}
.center{
    border: 1px solid transparent;
    width: 420px;
    height: 100%;
    margin-left: 350px;
    font-size: xx-large;
}
.right{
    border: 1px solid transparent;
    width: 170px;
    height: 100%;
    margin-left: 400px;
    margin-top: 13px;
}
.txt{
    text-decoration: underline;
    font-size: xx-large;
}
.carticon{
    font-size: larger;
}